.content{
    position: absolute;
    /*left: 100vw;*/
    top: 0;
    height: 490px;
    left: 51vw;
    /*left: 100%;*/
    width: 100%;
    max-width: 700px;
    background: rgba(236, 194, 194, 0);
}
.content_rep{
    position: absolute;
    left: 51vw;
    top: 4vh;
    height: 490px;

    width: 50vw;
    max-width: 700px;
    background: rgba(236, 194, 194, 0);
    box-shadow: 0px 5px 15px rgba(18, 40, 45, 0.44);
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;

}

.preview{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;

}

.loading{
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    /*font-size: 28px;*/
    /*font-weight: bold;*/
    background: #272822;
    color: rgba(255,255,255,0.1);

}
.container_title{

    position: absolute;
    left: 0;
    top: 620px;
    width: 100%;
    max-width: 700px;
    display: block;
    text-align: center;
    justify-content: center;
}

.container_block{
    width: 100%;
    display: flex;


}
.container_block div{

    width: 500px;

}
.container_name{

    padding: 10px;
    margin-left: 20%;

}

.combobox{
    margin-left: 20%;
    width: 500px;
}
.combobox div{

    width: 500px;
}

.combobox button:first-child{
    position: absolute;
    right: 5%;
}
.combobox button:last-child{
    position: absolute;
    right: 0;
}


.btn_create{

}

.modal{
    /*width: 100px;*/
    /*height: 50px;*/
    background: #61dafb;
    padding: 20px;
}

.close{

}