.noEffect{
    position: absolute;
    color: rgba(28, 79, 98, 0.42);
    font-size: 40px;

    /*height: 100%;*/

    top: 50vh;
    left: 41vw;

}

.container{

}

.title{
    font-size: 35px;
    position: absolute;
    left: 44%;
    color: rgba(76, 145, 175, 0.73);
    top: 15vh;
}