.container{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 2000px;
    left: 0;
    top: 100px;
    background: #9f1717;

    text-align: center;
}


.effect{
    position:absolute;
    left: 35%;
    top: 5vh;
    /*float:left;*/

    z-index: 10;
}

.code{
    position:absolute;
    left: 30%;
    top: 40vh;
    /*float:left;*/
    display: block;
    margin-left: auto;
    margin-right: auto
}