.container{
    position: relative;
    width: 100%;
    height: 100%;
    /*max-width: 1200px;*/
    /*max-height: 2000px;*/
    left: 0;
    top: 100px;
    background: #673e3e;

    text-align: center;
}



.effect{
    position:absolute;
    left: 35%;
    top: 5vh;
    /*float:left;*/
    z-index: 10;
}

.btn_download{
    position: absolute;
    left: 74vh;
    top: 28vh;
    background-image: url("http://127.0.0.1:9003/image/DownloadFile/fileDownload.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
    border:none;
}


.code {
    position: absolute;
    left: 30%;
    top: 40vh;
    /*width: 100;*/
    height: 200px;

    /*float:left;*/

}

.comments{
    position: absolute;
    left: 30%;
    top: 120vh;
    width: 100%;
    height:100%;
    max-width: 750px;
    /*max-height: 100px;*/
    background: #31719a;
    z-index: 20;
}

.btn_comment{
    background: #61dafb;
    color: #ffffff;
}