.container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{

    height: 100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}


.active{
    /*height: 100vh;*/
    /*width:100vw;*/
    /*background-color: rgba(0,0,0,0.5);*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*transform: scale(1);*/
}

.modal_content{
    padding: 20px;
    border-radius: 20px;
    background-color: #0b51c4;
    width: 200px;
    height: 500px;
}

.login{

}