.container{
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 100px;
    /*background-color: #ffffff;*/

}

.container_all{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 91, 98, 0.72);
    animation: 600ms linear 0s  alternate container_all_animate;
}

@keyframes container_all_animate {
    0%{
        background-color: rgba(0, 0, 0, 0.24);
    }
    50%{
        background-color: rgba(37, 69, 73, 0.45);
    }
    100%{
        background-color: rgba(0,0,0,0.5);
    }
}

.containerTest{
    position: absolute;
    left: 0;
    top: 200px;
    background-color: #ffffff;
}

.ava{
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 300px;
    /*border-radius: 40%;*/
    border-bottom-left-radius: 50%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 55%;

    border-collapse: revert;
    border-bottom: 3px solid #0020f0;
    border-right:60px solid rgba(57, 203, 198, 0.87);
    border-left:70px solid rgb(170, 196, 250);
    border-bottom: 10px solid rgb(191, 232, 224);

    animation-name: borderAva;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    box-shadow:0 0 20px rgba(0, 225, 255, 0.3);

}

@keyframes borderAva {
    0%{
        border-bottom-left-radius: 50%;
        border-top-left-radius: 30%;
        border-bottom-right-radius: 35%;
        border-top-right-radius: 55%;
        border-right:5px solid rgba(57, 203, 198, 0.87);
        border-left:5px solid rgb(170, 196, 250);
        border-bottom: 5px solid rgb(191, 232, 224);
        filter: saturate(100%);
    }
    30%{
        border-bottom-left-radius: 25%;
        border-top-left-radius: 45%;
        border-bottom-right-radius: 40%;
        border-top-right-radius: 33%;
    }
    50%{
        border-bottom-left-radius: 20%;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 35%;
        border-top-right-radius: 43%;
        filter: saturate(125%);
    }
    70%{
        border-bottom-left-radius: 30%;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 40%;
        border-top-right-radius: 45%;
        filter: saturate(105%);
    }
    100%{
        border-bottom-left-radius: 20%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 15%;
        border-right:5px solid rgb(215, 250, 244);
        border-left:5px solid rgba(159, 211, 209, 0.87);
        border-bottom: 5px solid rgba(57, 203, 198, 0.87);
        filter: saturate(205%);
    }
}

.container_user{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
}


.all{
    height: 100%;
    width:100%;
    /*background: red;*/
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}
.modal{
    position: relative;
    top: 5px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 650px;
    /*transform: scale(0);*/
    /*box-shadow: 4px 3px 5px #98ffe7;*/
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.53);
    animation: 600ms linear 0s  alternate modal-effect;
    text-align: center;
    justify-content: center;
}

.modal .input_title{
    /*margin-top: 20px;*/
    position: absolute;
    left: 0;
    top: 30%;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    /*background-color: red;*/
    /*max-width: 400px;*/
}
.input_title Button{
   position: absolute;
}
.input_desc Button{
    position: absolute;
    margin-left: 50px;
}
.input_pass_two Button{
    position: absolute;

    margin-left: 50px;
}

.modal .input_desc{
    /*margin-top: 20px;*/
    position: absolute;
    left: 0;
    top: 40%;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    /*background-color: red;*/
    /*max-width: 400px;*/
}

.modal .input_old_pass{
    /*margin-top: 20px;*/
    position: absolute;
    left: 0;
    top: 60%;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    /*background-color: red;*/
    /*max-width: 400px;*/
}
.modal .input_pass{
    /*margin-top: 20px;*/
    position: absolute;
    left: 0;
    top: 70%;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    /*background-color: red;*/
    /*max-width: 400px;*/
}
.error{
    position: absolute;
    top:92%;
    color: red;
}
.input_pass_change{
    position: absolute;
    left: 20px;
    top: 60%;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
}
.input_title Button{
    margin-left: 50px;
}

.change Button{

}

.modal .input_pass_two{
    /*margin-top: 20px;*/
    position: absolute;
    left: 0;
    top: 80%;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    /*background-color: red;*/
    /*max-width: 400px;*/
}

.textField{
    /*color: red;*/
}

.modal .upload{
    width: 100%;
    height: 100%;


    position: absolute;
    left: 15%;
    top: -20%;
    text-align: center;
    justify-content: center;
}





@keyframes modal-effect {
    0% {
        box-shadow: 4px 3px 5px #98ffe7;
        background-color: rgba(0, 140, 255, 0.67);
        transform: scale(0);
        width: 200px;
        height: 50px;
    }
    50%{
        width: 100px;
        height: 500px;

    }
    100% {
        transform: scale(1);
        box-shadow: 5px 2px 5px rgba(0, 255, 255, 0.53);
        width: 500px;
        height: 600px;
    }
}

