.container_effects{
    position: relative;
    left: 0;
    top: 100px;
}

.effectInfo{
    position: relative;
    display: flex;
    /*width: 100%;*/
    /*height: 100%;*/
    width: 600px;
    height: 60px;
    background-color: rgba(107, 143, 222, 0.69);

}
.ava{
   position: absolute;
    left: 10px;
    top: 0;
    width: 50px;
    height: 50px;
    /*max-height: 80px;*/
    /*max-width: 80px;*/
}

.nameEffect{
    position: absolute;
    left:100px
}

.like{
    position: absolute;
    right: 10px;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 200px;
    text-align: center;
    margin: 5% auto;

}

.effect{
    position: relative;
    background-color: #acacac;
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-width: 600px;*/
    /*max-height: 200px;*/
    width: 600px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.effect div{
    position: absolute;
    left: 40%;
    top: 30%;
}

.panel{

}