
.container_effects{
    position: relative;
    /*margin:20px;*/
    left: 0;
    top: 50px;
    margin-bottom: 200px;
}

.effectInfo button{
    border:none;
}

.edit img{
    width: 2.5vw;

}

.editFavorite img{
    width: 2.5vw;

    filter: hue-rotate(106deg);

}

.edit{
    margin-right: 10px;
}

.ava{
   position: absolute;
    left: 10px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    /*border: 1px solid black;*/
    object-fit: cover;
    /*background: #dfdfdf;*/
    /*max-height: 80px;*/

    /*max-width: 80px;*/
}

.nameEffect{
    position: absolute;
    width: 27vw;
    /*height: 1vh;*/
    font-family: "Courier New";
    color: rgba(46, 71, 80, 0.56);
    left:5.5vw;
    top:4.5vh;
    font-weight: bolder;
    font-size: 24px;

    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    /*/background: rgba(206, 253, 253, 0.31); !* Цвет фона *!*/
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.like{
    position: absolute;
    right: 10px;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 300px;
    text-align: center;
    margin: 10vw auto;

}

.effect{
    position: relative;
    display: flex;
    background-color: rgba(172, 172, 172, 0);

    width: 40vw;
    height: 20vh;
    /*margin: auto;*/
    /*text-align: center;*/
  border-radius: 40%;

}



.panel{

}
.effectInfo{
    position: absolute;
    width: 42vw;
    top: 28vh;
    left:calc(30vw - 9px);
    display: flex;
    /*width: 100%;*/
    /*height: 100%;*/

    height: 9vh;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 30px;
    background-color: rgba(107, 143, 222, 0);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    padding-top: 10px;


}
.content{
    position: absolute;
    width: calc(42vw - 1px);
    height: 30vh;

    left: 0;
    /*top: 0;*/
    z-index: -10;
    /*max-width: 900px;*/
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;


}
.content_check{
    width: 52vw;
    height: 50vh;
    position: absolute;
    left: -6vw;
    top: 0;
    z-index: -10;
    /*max-width: 900px;*/
    /*background: rgba(217, 242, 252, 0);*/
}

.content iframe{
    overflow: hidden;
}

.preview{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    background: #272822;
    color: rgba(255,255,255,0.1);

}