.container_effects{
    position: relative;
    left: 0;
    top: 100px;
}

.effectInfo{
    position: relative;
    display: flex;
    /*width: 100%;*/
    /*height: 100%;*/
    width: 600px;
    height: 60px;
    background-color: rgba(107, 143, 222, 0.69);

}
.ava{
   position: absolute;
    left: 10px;
    top: 0;
    width: 50px;
    height: 50px;
    /*max-height: 80px;*/
    /*max-width: 80px;*/
}

.nameEffect{
    position: absolute;
    left:100px
}

.like{
    position: absolute;
    right: 10px;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 200px;
    text-align: center;
    margin: 5% auto;

}

.effect{
    position: relative;
    background-color: #acacac;
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-width: 600px;*/
    /*max-height: 200px;*/
    width: 600px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.effect PreviewEffect{
    position: absolute;
    left: 40%;
    top: 30%;
}

.panel{

}

.content{
    width: 600px;
    height: 200px;

    position: absolute;
    left: 0;
    top: 0;

    max-width: 900px;
    background: #d9f2fc;
}

.preview{
    width: 100%;
    height: 100%;

}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    background: #272822;
    color: rgba(255,255,255,0.1);

}