.container{
    position: relative;
    left: 0;

}
.container_modal{
    position: absolute;

}
Popup .popup-overlay{
    position: absolute;
}
.modal{
    position: absolute;
    left: 10vw;
    top: -20vh;

    width:20vw;
    height: 40vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    animation: 600ms linear 0s  alternate modal-effect;
    transform-origin: left;
}

.close{
    position: absolute;
    left: 10vw;
    top: -20vh;

    width:20vw;
    height: 40vh;
    border-radius: 20px;
    background-color: rgb(238, 0, 0);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    animation: 600ms linear 0s  alternate modal-effect;
    animation-direction: reverse;
}
.menu_btn{
    position: absolute;
    top: 10px;
    width: 4vw;
    height: 5vh;
   border: none;


}
.menu_btn div{
    content: "";
    display: block;
    width: 3vw;
    margin: 5px 0 5px 0;
    height: 0.6vh;
    background: linear-gradient(90deg, rgba(17,218,221,1) 0%, rgba(68,163,232,1) 95%);
    border-radius: 20px;
}

.menu_btn::after{
    content: "";
    display: block;
    width: 3vw;
    height: 0.6vh;
    background: linear-gradient(90deg, rgba(17,218,221,1) 0%, rgba(68,163,232,1) 95%);
    border-radius: 20px;
}

.menu_btn::before{
    content: "";
    display: block;
    width: 3vw;
    height: 0.6vh;
    background: linear-gradient(90deg, rgba(17,218,221,1) 0%, rgba(68,163,232,1) 95%);
    border-radius: 20px;
}

@keyframes modal-effect {
    0% {
        transform: scale(0);

    }
    50%{

    }
    100% {
        transform: scale(1);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
}