
.container{
    width: 100%;
    height: 100%;
    max-width: 400vw;
    max-height: 20vh;
    position: absolute;
    left: 0;
    top: 150px;
    text-align: center;
}

.filter img{
    width: 2.5vw;
    filter: hue-rotate(24deg);
}

.filter{
 }


.textForWrite input{
    width: 35vw;
}

.textForWrite {
    display: inline-flex;
}

.textForWrite img{
   width: 10vw;
    /*height: 1vh;*/
}

.textForWriteSearch{
    width: 360px;
    padding:5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,30%);
}

.containerInputSearch{
    width:100%;
}

a {
    color: #242e31;
    text-decoration: none;
    font-weight: 600;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    height:80px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.content-wrapper{
    width: 100%;
}
.header__nav {
    position: absolute;
    right: 36px;
    display: block;
}
.menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.content-wrapper{
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}
