*{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  background-color: rgba(0, 0, 255, 0);
}

li{
  display: inline-block;
  padding: 20px 20px 20px 0px;
  margin-left: auto;
}
.header{
  width: 100%;
  height: 100%;
  background-color: #61dafb;
}
.header ul{
  margin-left: 80%;
}
.App {
  text-align: center;
}
