.codebar{
    /*position: relative;*/
    /*left: 0;*/
    /*top: 10px;*/
    position: absolute;
    left: -10vw;
    top: 25vh;
    width: 60vw;

    background: #ffffff;
    /*position: relative;*/
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(18, 40, 45, 0.44);
}
.codebar_rep{
    /*position: relative;*/
    /*left: 0;*/
    /*top: 10px;*/
    position: absolute;
    left: 0.5vw;
    top: 4vh;
    width: 50vw;

    background: #ffffff;
    /*position: relative;*/
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(18, 40, 45, 0.44);
}

.tab{
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-left: 10px;*/
    height: 70px;
    padding: 0 15px;
    gap: 15px;
    border-bottom: 2px solid rgba(94, 231, 231, 0.7);
}

.tab .item:first-child{
    margin-left: 25px;
}



.item{
    display: flex;
    height: 5vh;
    width: 4vw;
    /*flex: 1 1 auto;*/
    justify-content: center;
    align-items: center;
    /*border-radius: 4px;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(124, 159, 149, 0.42);
    color: #fffdfd;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
}

.activTab{
    background: #05d8ea;
    color: #fffdfd;
}

.editor{
    /*height: 100% ;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: -10px;*/
    z-index: -10;
    height: 400px;
    padding: 10px;
}