.codebar{
    width: 600px;
    background: #494848;
    position: relative;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 15px;
    gap: 15px;
    border-bottom: 2px solid #524b4b;
}

.item{
    display: flex;
    height: 50px;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #342f2f;
    color: #fffdfd;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
}

.activTab{
    background: #61dafb;
    color: #fffdfd;
}

.editor{
    /*height: 100% ;*/
    height: calc(100vh - 70px);
    padding: 10px;
}